{% extends "app/navbar.html" %} {% load static %} {% block main_content %}
<link rel="stylesheet" href="{% static 'app/css/home.css' %}" />
<style>
  .list-mix-1 {
    cursor: pointer;
  }

  .list-mix-1:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease;
  }
</style>

<div class="tranding-songs">
  <div class="top-header">
    <span class="highlight">Gợi ý cho bạn</span>
    <a href="{% url 'app:danhsachnhac' %}" class="view-all">Xem thêm</a>
  </div>

  <div class="list-mix-container">
    {% if songs %} {% for song in songs %}
    <div
      class="list-mix-1"
      data-link="{{ song.linkbaihat }}"
      method="POST"
      action="{% url 'app:thuvien' %}"
    >
      <div class="bai-hat">
        <div class="ten-bh" name="song_name">{{ song.tenbaihat }}</div>
        <div class="nghe-si" name="artist">{{ song.tencasi }}</div>
      </div>
      <div class="the-loai" name="genre">{{ song.theloai }}</div>
      <img class="heart" src="{% static 'app/images/like.svg' %}" />
      <div class="thoi-gian" name="duration">{{ song.thoigian }}</div>
      <div class="so-tt">{{ forloop.counter }}</div>
    </div>
    {% endfor %} {% else %}
    <p>Không tìm thấy bài hát hoặc ca sĩ phù hợp.</p>
    {% endif %}
  </div>
</div>

<div class="playlist">
  <div class="top-header">
    <span class="highlight">Playlist</span>
  </div>
  <div class="list">
    <div class="list-item">
      <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}" />
      <div class="list-info">
        <div class="list-title">Top Nhạc Trẻ</div>
      </div>
    </div>
    <div class="list-item">
      <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}" />
      <div class="list-info">
        <div class="list-title">Top Âu Mỹ</div>
      </div>
    </div>
    <div class="list-item">
      <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}" />
      <div class="list-info">
        <div class="list-title">Top Âu Mỹ</div>
      </div>
    </div>
    <div class="list-item">
      <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}" />
      <div class="list-info">
        <div class="list-title">Top Âu Mỹ</div>
      </div>
    </div>
    <div class="list-item">
      <img class="list-image" src="{% static 'app/images/playlist-1.jpg' %}" />
      <div class="list-info">
        <div class="list-title">Top Nhạc Trẻ</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
